/* Use this file to override styles in the drposter template.
 *
 * Improve poster maintainability by keeping the resources separate
 * from the package, and user styles separated from the overall package.
 */

:root {
	--header-color: #990033;
}

@page {
	size: 297mm 420mm;  /* A0 paper for now */
	margin: 0;
}

html {
	margin: 0;
	width: 297mm;
	height: 420mm;
	padding: 2.5cm;  /* Overall document "margins" (while keeping the background, etc.) */
	font-size: 1.2em;
}

.level2 h2 {
	/* Chrome is not handling the background opacity correctly when printing: https://bugs.chromium.org/p/chromium/issues/detail?id=226137 */
	/* background-color: rgba(255, 255, 255, 0.9); */
	background: #990033;
}

.level2 {
	/* Chrome is not handling the background opacity correctly when printing: https://bugs.chromium.org/p/chromium/issues/detail?id=226137 */
	/* background-color: rgba(255, 255, 255, 0.9); */
	border-color: #990033;
}

code, pre {
	font-size: 1.0em;
}

h1, h2 {
	font-size: 1.5em;
}

h3 {
	color: var(--header-color);
	font-size: 1.3em;
}
